.dropdownBtn {
  width: 100%;
  border: 1px solid var(--default-text-color);
}

.dropdownBtn .dropdown-toggle {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between
}

.checkbox {
  font-size: 20px;
}

.btnTask {
  font-size: 16px;
  background-color: var(--primary-bg-color);
  padding: 8px 15px;
}

.addIcon {
  font-size: 24px;
  margin-right: 5px;
}

.heading {
  color: var(--filter-text-color);
  font-size: 20px;
}


.cancelBtn {
  font-weight: 600;
  padding: 10px 20px;
  line-height: 25px;
  border: 1px solid var(--default-text-color);
  color: var(--default-text-color);
}

.submitBtn {
  padding: 10px 20px;
  line-height: 25px;
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
}

.propertyTypeCheckbox {
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-size: 18px;
  font-weight: 500;
}