.dropdown {
  width: 193.75px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--default-text-color);
}


.inputBox {
  width: 320px;
  height: 46px;
  margin-top: 29px;
}

.search {
  border-right: none;

}

.magnifyingIcon {
  border-left: 0;
  border-color: var(--accent-bcolor);
  color: var(--primary-text-color);
}

.label {
  color: var(--filter-text-color);
  font-size: 14px;
}