.mytask_table_title {
  font-size: 18px;
  font-weight: bold;
}

.mytask_table_title_date {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.task_detail {
  font-size: 15px;
  font-weight: 600;
}

.task_date {
  font-size: 13px;
  font-weight: 500;
  padding: 0px 58px 0px 82px;
}

.task_labels {
  font-size: 16px;
  font-weight: 500;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--default-bcolor);
}

.typeBtn {
  padding: 5px 10px;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  font-size: 12px;
}

.editIcon,
.editNoteIcon,
.shareIcon {
  width: 20px;
  height: 20px;
}

.editIcon {
  color: var(--primary-icon-color);
}

.editNoteIcon {
  color: var(--edit-note-icon-color);
}

.shareIcon {
  color: var(--share-icon-color);
}

.row:nth-child(odd) {
  background-color: var(--secondary-text-color);
}

.row:nth-child(even) {
  background-color: #F5F5F5;
}