@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Font-Family Global css */
:root {
  --default-font: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* color Global css */
:root {
  --primary-text-color: #7B66FF;
  --secondary-text-color: #ffffff;
  --default-text-color: #000000;
  --accent-text-color: #FF595A;
  --placeholder-text-color: #6B7280;
  --filter-text-color: #007473;


}

/* background color Global css */
:root {
  --primary-bg-color: #7B66FF;
  --secondary-bg-color: #ffffff;
  --default-bg-color: #212529;
  --accent-bg-color: #e84545;
  --placeholder-bg-color: #D9D9D9;
  --buy-bg-color: #850F8D;
  --sell-bg-color: #216FED;
  --rental-bg-color: #FFA62F;
  --lightGray-bg-color: #C1C1C1;
  --gray_10px-bg-color: #f2f2f2;
  --primary_light-bg-color: #7b66ff14;

}

/* icon color Global css */
:root {
  --primary-icon-color: #7B66FF;
  --edit-note-icon-color: #FFA62F;
  --share-icon-color: #FF595A;
  --placeholder-icon-color: #6B7280;
  --whatsapp-icon-color: #4CAF50;

}

/* border color Global css */
:root {
  --primary-bcolor: #7B66FF;
  --secondary-bcolor: #ffffff;
  --default-bcolor: #000000;
  --accent-bcolor: #dddddd;
  --placeholder-bcolor: #6B7280;
  --filter-bcolor: #007473;
  --lightGray-bcolor: #C1C1C1;
  --gray_10px-bcolor: #f2f2f2;

}



body {
  background-color: var(--secondary-bg-color);
  font-family: var(--default-font);
}

.main {
  margin: 20px;
  display: flex;
  font-family: var(--default-font);
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}