.navbar_main {
  display: flex;
  justify-content: space-between;
}

.navbarLink {
  font-size: 14px;
  color: black;
}

.navbarIcon {
  margin-right: 10px;
}

.profileImg {
  border-radius: 50%;
}

.notificationBox {
  margin-right: 5rem;
}

.notificationIcon {
  width: 24px;
  height: 24px;
}

.logo_Img {
  margin-left: 5.4rem;
  width: 86px;
  height: 22px;
}