/* section-1 start */

.inventory_heading {
  font-weight: 700;
  font-size: 24px;
}

.three_btn .brochure_btn,
.three_btn .advice_btn {
  height: 35px;
  font-size: 12px;
  color: var(--default-text-color);
  font-weight: 500;
  border: 1px solid var(--default-bcolor);
}

.three_btn .addInventory_btn {
  height: 35px;
  font-size: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  border: 1px solid transparent;
  background-color: var(--primary-bg-color);
}

.Div_advicebtn {
  padding: 0;
  direction: rtl;
}

.Div_brochurebtn {


  direction: ltr;
}

.Div_addInventorybtn {
  padding: 0px;
  direction: ltr;
}

/* section-1 End */


/* section 3 start */


/* Table container to enable scrolling */

.tableContainer {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid var(--lightGray-bcolor);
  border-bottom: none;

}

.tableContainer::-webkit-scrollbar {
  display: none;

  width: 12px;
  /* Width of the scrollbar */
}

.tableContainer::-webkit-scrollbar-track {
  display: none;
  background-color: var(--lightGray-bg-color);


  /* Color of the track */
}

.tableContainer::-webkit-scrollbar-thumb {
  display: none;

  background-color: var(--lightGray-bg-color);
  border: 1px solid var(--lightGray-bcolor);
  border-bottom: none;
  /* Color of the thumb */
  border-radius: 2px;
  /* Roundness of the thumb */
}

.tableContainer::-webkit-scrollbar-thumb:hover {
  display: none;

  background-color: var(--lightGray-bg-color);
  /* Color of the thumb on hover */
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* Ensures the table respects the column widths */
}

.table th,
.table td {
  border: none;
  /* Add border for better visual separation */
  padding: 8px;
  text-align: center;
}



.title_text {
  font-weight: 700;
  padding-bottom: 20px;
}

.title_text1 {

  padding-bottom: 20px;
}


.header_CheckBox {
  height: 27px;
  width: 74px;
  font-weight: 300 !important;
  color: var(--placeholder-text-color);
  display: block;
}

.cell_CheckBox {
  padding-left: 13px;
  height: 27px;
  width: 54px;
  color: var(--placeholder-text-color);
}

.Check2_Box {
  margin-top: 16px;
  color: var(--placeholder-text-color);
  height: 27px;
  width: 8%;
}

.cell_PropertyStyle {
  font-weight: 600;
}

.header_PropertyStyle {
  width: 320px !important;
}

.header_headingNameStyle {
  width: 180px !important;
}

.cell_BodyNameStyle {
  width: 133px !important;
}

/* In your CSS file */
.evenRow {
  background-color: var(--gray_10px-bg-color);
  /* light grey */
}

.oddRow {
  background-color: var(--secondary-bg-color);
  /* white */
}

.header_CheckIconStyle {
  width: 80px !important;

}

.header_TypeStyle {
  width: 110px !important;
  text-align: center !important;
}

/* these css for show property type icon Start  */

.Cell_TypeSell {
  padding: 2px 14px 2px 14px;
  display: inline;
  border: 1px solid;
  text-align: center !important;
  background-color: var(--sell-bg-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
}

.Cell_TypeRental {
  padding: 2px 14px 2px 14px;
  display: inline;
  border: 1px solid;
  text-align: center !important;
  background-color: var(--rental-bg-color);
  color: var(--secondary-text-color);
  border-radius: 4px;

}

/* these css for show property type icon End  */


/* these css for action icon Start  */
.actionIconsStyle {
  color: var(--primary-icon-color);
  text-align: center;
}

.actionIconEye {
  margin: 0 18px 0 18px;
}

/* these css for action icon  End */
.pagination {
  margin: 12px;
}

.pagination button {
  border: 1px solid black;
  border-radius: 3px;
  padding-top: 10;
}


.pagination span {
  float: right;
  padding: 0px 12px;
}


.pagination select {
  display: none;
}