.mainly {
  gap: 30px;

}

.cust_rowOne {
  height: 42px;
}

.cust_rowOne .cust_name {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}


.cust_rowTwo {
  height: 42px;
}

.cust_rowTwo .filter_text {
  display: flex;

}

.cust_rowTwo .filter_text button {
  font-size: 16px;
  font-weight: 550;
}

.cust_rowTwo .filter_icon {
  color: var(--primary-icon-color);
  display: flex;
  float: right;
}

.filter_icon h6 {
  padding-left: 5px;
}

.filter_text button {
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--placeholder-text-color);
}

.filter_text button:hover {
  background-color: var(--lightGray-bg-color);
}

.filter_text .activeFilter {
  background-color: var(--primary_light-bg-color);
  color: var(--primary-text-color);
}