.Brand_Name {
  font-size: 13px;
  font-weight: 600;
}

.links a {
  text-decoration: none;
  font-size: 13px;
}

/* 
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: red;
  color: white;
} */