.cust_rowThree {
  border: 2px solid var(--box-customer);
  border-radius: 4px;
  height: 157px;
  padding-left: 5px;

}

.cust_rowThree .cust_address {
  display: flex;
  color: var(--placeholder-text-color);
}

.property_btn {
  background-color: var(--buy-bg-color);
  color: var(--secondary-text-color);
  height: 22px;
  font-size: 12px;
  padding-bottom: 24px;
  margin: -14px 0px 15px 5px;
}

.property_btn_rental {
  background-color: var(--rental-bg-color);
  color: var(--secondary-text-color);
  height: 22px;
  font-size: 12px;
  padding-bottom: 24px;
  margin: -14px 0px 15px 5px;
}

.cust_name {
  display: flex;
  font-weight: 700;
  font-size: 18px;
}

.cust_name p {
  padding-left: 10px;
  color: var(--accent-text-color);
  font-weight: 600;
}

.cust_address h6 {
  padding-left: 10px;
}

.cust_address {
  font-size: 18px;
}


.cust_icons {
  display: flex;
  color: var(--primary-icon-color);
  gap: 4px;
}

.cust_icons div {
  text-align: center;
  background-color: rgba(123, 102, 255, 0.08);
  height: 32px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.whatsapp_icons {
  color: var(--whatsapp-icon-color)
}



.remark_icon div {
  float: right;
  color: var(--primary-icon-color);
  cursor: pointer;
}

.need_icon div {
  float: right;
  color: var(--primary-icon-color);
  cursor: pointer;
}


.need_head {
  color: var(--filter-text-color);
}

.remark_head {
  color: var(--filter-text-color);
}


.remark_heading p {
  font-size: 14px;
}

.remark_btn div button {
  gap: 3px;
  border: 1px solid var(--default-bcolor);
  width: 95px;
  height: 28px;
  font-size: 8.8px;
  font-weight: 700;
}

.remark_btn {
  gap: 11px;
  direction: rtl;
}

.property_btn_buyer {
  background-color: var(--buy-bg-color);
  color: var(--secondary-text-color);
  height: 22px;
  font-size: 12px;
  padding-bottom: 24px;
  margin: -14px 0px 15px 5px;
  pointer-events: none
}

.property_btn_rental {
  background-color: var(--rental-bg-color);
  color: var(--secondary-text-color);
  height: 22px;
  font-size: 12px;
  padding-bottom: 24px;
  margin: -14px 0px 15px 5px;
  pointer-events: none
}


/* Add the rest of your existing CSS styles here */