.changePasswordFormTitle {
  font-size: 20px;
  font-weight: 700;
}

.changePasswordLabels {
  font-size: 14px;
  color: var(--filter-text-color);
  padding-bottom: 10px;
}

.changePasswordInputField {
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
}

.changePasswordCancelBtn {
  color: var(--default-text-color);
  border: 2px solid var(--default-bcolor);
  font-weight: 700;
}


.changePasswordeSaveBtn {
  background-color: var(--primary-bg-color);
}