/* edit profile form css start */

.editProfileLabel {
  font-size: 14px;
  color: var(--filter-text-color);
  padding-bottom: 10px;
}

.editProfileBoxTitle {
  font-size: 20px;
  font-weight: 700;
}

.editProfileCancelBtn {
  color: var(--default-text-color);
  border: 2px solid var(--default-bcolor);
  font-weight: 700;
}

.editProfileFormTitle {
  font-size: 20px;
  font-weight: 700;
}

.editProfileInputField {
  font-size: 14px;
  font-weight: 600;
  width: 90%;
}

.editProfileAddressField {
  font-size: 14px;
  font-weight: 600;
}

.editProfileSaveBtn {
  background-color: var(--primary-bg-color);
}


/* edit profile form css end */