.myprofile_box {
  border: 1px solid var(--accent-bcolor);
  border-radius: 5px;
  padding: 0px 35px;
}

.myprofileHeading {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0px;

}

.myprofile_sections {
  border-bottom: 1px solid var(--accent-bcolor);
}

/* my profile first container css start*/

.myprofile_profileimg {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.myprofileUserName {
  font-size: 24px;
  font-weight: 600;
}

.myprofileMemberJoinTime {
  font-size: 14px;
  color: var(--placeholder-text-color);
  font-weight: 500;
}

.myprofileBtndiv {
  direction: rtl;
  padding-top: 50px;

}

.myprofileChangePass {
  border: 2px solid var(--default-bcolor);
  color: var(--default-text-color);
  font-weight: 500;
}

.myprofileEditProfileBtn {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
}

/* my profile first container css end*/


/* profile detail information grid start css*/
.profileinfo_detail_title {
  font-size: 14px;
  color: var(--filter-text-color);
}

.profileinfo_detail {
  font-size: 14px;
  font-weight: 600;
  padding-right: 42px;
}

/* profile detail information grid end css*/

.myprofile_detail_title {
  font-size: 20px;
  padding: 20px 0px 10px;
}

.myprofile_detail_urltitle {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 0px;
}

.myprofile_person_namedetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileimgEditIcon {
  position: relative;
  padding: 6px;
  color: var(--secondary-text-color);
  width: 32px;
  height: 32px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  top: -33px;
  left: 87px;
}

.myprofileCopyIcon {
  color: var(--primary-icon-color);
  margin-left: 10px;
  position: relative;
  z-index: 1;
}

.profile_link p {
  background-color: rgba(123, 102, 255, 0.08);

  font-size: 14px;
  height: 35px;
  padding-left: 18px;
  margin-left: -12px;
  flex-grow: 1;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
}

.profile_link {
  width: 435px;

}