.text_add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loginpageHeading {
  font-size: 16px;
}

.form_container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
}

.form_container img {
  display: block;
  margin: 0 auto 20px;
}

.form_container h5 {
  text-align: center;
  margin-bottom: 30px;
}

.input_container {
  position: relative;
  margin-bottom: 15px;
}

.icon {
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-icon-color);
}

.form_container .input_property {
  width: 100%;
  padding: 15px;
  padding-left: 40px;
  font-size: 14px;
  border-radius: 5px;
}

.form_container .form-group input::placeholder {
  color: var(--placeholder-bg-color);
}

.form_container .form-check {
  margin-bottom: 20px;
}

.form_container .form-check input {
  margin-right: 10px;
}

.form_container .btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.forgot_password {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
  text-decoration: none;
}

form p {
  text-align: center;
}

.signup {
  padding-top: 40px;
  color: var(--placeholder-text-color);
  font-size: 14px;
}

.signup p {
  text-align: center;
  padding-bottom: 3px;
}

.signup .btn {
  background-color: var(--secondary-bg-color);
  color: var(--default-text-color);
  border: 1px solid var(--default-bcolor);
  font-size: 16px;
  font-weight: 600;
}